<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Weibo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SigninSVL</display-name>
    <servlet-name>SigninSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.SigninSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninSVL</servlet-name>
    <url-pattern>/SigninSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupSVL</display-name>
    <servlet-name>SignupSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.SignupSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupSVL</servlet-name>
    <url-pattern>/SignupSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostTweetSVL</display-name>
    <servlet-name>PostTweetSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.PostTweetSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTweetSVL</servlet-name>
    <url-pattern>/PostTweetSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyTweetSVL</display-name>
    <servlet-name>ReplyTweetSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.ReplyTweetSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyTweetSVL</servlet-name>
    <url-pattern>/ReplyTweetSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReTweetSVL</display-name>
    <servlet-name>ReTweetSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.ReTweetSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReTweetSVL</servlet-name>
    <url-pattern>/ReTweetSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentListSVL</display-name>
    <servlet-name>CommentListSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.CommentListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentListSVL</servlet-name>
    <url-pattern>/CommentListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSVL</display-name>
    <servlet-name>SearchSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.SearchSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSVL</servlet-name>
    <url-pattern>/SearchSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowingListSVL</display-name>
    <servlet-name>FollowingListSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.FollowingListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowingListSVL</servlet-name>
    <url-pattern>/FollowingListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowerListSVL</display-name>
    <servlet-name>FollowerListSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.FollowerListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowerListSVL</servlet-name>
    <url-pattern>/FollowerListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTweetListSVL</display-name>
    <servlet-name>MyTweetListSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.MyTweetListSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTweetListSVL</servlet-name>
    <url-pattern>/MyTweetListSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingSVL</display-name>
    <servlet-name>SettingSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.SettingSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingSVL</servlet-name>
    <url-pattern>/SettingSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetFollowSVL</display-name>
    <servlet-name>SetFollowSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.SetFollowSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetFollowSVL</servlet-name>
    <url-pattern>/SetFollowSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUnFollowSVL</display-name>
    <servlet-name>SetUnFollowSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.SetUnFollowSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUnFollowSVL</servlet-name>
    <url-pattern>/SetUnFollowSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTweetsSVL</display-name>
    <servlet-name>ShowTweetsSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.ShowTweetsSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTweetsSVL</servlet-name>
    <url-pattern>/ShowTweetsSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignoutSVL</display-name>
    <servlet-name>SignoutSVL</servlet-name>
    <servlet-class>hk.edu.uic.dbms.weibo.controller.servlets.SignoutSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignoutSVL</servlet-name>
    <url-pattern>/SignoutSVL</url-pattern>
  </servlet-mapping>
</web-app>